@import "webfont/stylesheet.css";

$theme-colors: (
    "snippets": #20c997,
    "guides": #17a2b8,
    "primary": #3F51B5
);

$font-family-sans-serif: "HK Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

@import "~bootstrap/scss/bootstrap";

.logo {
    &, &:hover, &:focus {
        text-decoration: none;
    }
}

.nav-pivots {
    .nav-link.active, 
    .show > .nav-link {
        border-bottom: 2px solid;
    }
}

.animation-spin {
    display: inline-block;
    animation: spinAnimation 1s infinite linear;
}

@keyframes spinAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.page-content {
    animation: page-content .4s;
}

@keyframes page-content {
    from {
        opacity: 0;
    }
}